<h1>{{form.title}}</h1>
<h3>{{page.title}}</h3>

<form [formGroup]="pageFormGroup" (ngSubmit)="updateForm()">
    <div style="kd-form">
        <div class="kd-form-label">
            <label for="customerNameInput">Customer name</label>
        </div>
        <input id="customerNameInput" formControlName="customerName" pInputText />
        <div class="kd-form-label">
            <label for="customerAddressInput">Postal address</label>
        </div>
        <input id="customerAddressInput" formControlName="customerAddress" pInputText size="40" />
        <div class="kd-button-bar">
            <button type="submit" pButton label="Continue" class="kd-button"></button>
            <button type="button" pButton label="Cancel" class="ui-button-secondary" routerLink="/apply" ></button>
        </div>
    </div>  
</form>
